.messages {
    max-height: 500px;
    padding: 0 .6rem;
    overflow: auto;
}
.message {
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    margin: 0 0 15px;
    padding: 15px 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

    &__title {
        text-decoration: underline;
        color: #007ddc;
    }
}
